monascollegeapp.bhdev.org {

    header {
        Access-Control-Allow-Origin https://websitetest.bhdev.org
        Access-Control-Allow-Methods GET, POST, OPTIONS, PUT, DELETE
        Access-Control-Allow-Headers Origin, Content-Type, Accept, X-Requested-With, X-CSRF-Token
    }
    
    reverse_proxy http://directus:8055
}





