# monascollegeapp.bhdev.org

# reverse_proxy http://directus:8055

# https://monascollegeapp.bhdev.org {
#     @cors_preflight {
# 		method OPTIONS
# 	}
# 	respond @cors_preflight 204
	
#     @origin1 {
#         header Origin https://websitetest.bhdev.org
# 	}
# 	header @origin1 {
#         Access-Control-Allow-Origin https://websitetest.bhdev.org
# 	}
# 	@origin2 {
#         header Origin https://www.websitetest.bhdev.orge
# 	}
# 	header @origin2 {
#         Access-Control-Allow-Origin https://www.websitetest.bhdev.org
# 	}
	
#     header {
#         Access-Control-Allow-Methods GET,POST,OPTIONS,HEAD,PATCH,PUT,DELETE
#         Access-Control-Allow-Headers User-Agent,Content-Type,X-Api-Key
#         Access-Control-Max-Age 86400
#     }

# }

https://monascollegeapp.bhdev.org {
    reverse_proxy http://directus:8055
}

https://monascollegeapp.bhdev.org {
    # Autres directives Caddy pour la configuration de votre site

    # Activer CORS pour autoriser les requêtes depuis https://websitetest.bhdev.org
    header / {
        Access-Control-Allow-Origin https://websitetest.bhdev.org
        Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
        Access-Control-Allow-Headers "Origin, Content-Type, Accept"
    }
}

